<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
  <div class="login-main-text">
    <h2>Seja bem vindo<br> ao nosso projeto </h2>
    <p>Logue ou se cadastre aqui.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <a href="#" id="LoginM">Sou médico</a>
    <div class="login-form">
        <div class="form-group">
          <label>Email</label>
          <input type="Email" class="form-control"  id="email"placeholder="exemplo@exemplo.com">
          
        <div class="form-group">
          <label>Senha</label>
          <input type="password" class="form-control" id="password"  placeholder="Password">
          </div>
        <div>
          <button type="button" class="btn-rec col-sm-12" id="recover-password-button" disabled="true">Recuperar senha</button>
        </div>
        <div>
          <p></p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn-log" id="login-button" disabled="true" onclick="login()">Login</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="submit" class="btn-reg">Registrar-se</button>
        </div>

      
    </div>
   
    <!-- <script defer src="login.component.js"></script> -->
  </div>
</div>